.divisao{
border: solid 2px gray;
width: 50%;
border-radius: 5px 5px 0 0;
margin: auto auto;
height: 20px;
border-bottom: none;
}

.img{
float: left;
text-align: center;
width: 49%;
word-wrap: break-word;
overflow: hidden;
}
.nome{
display: block;
}